* {
    box-sizing: border-box;
  }

  body {
      background-color: #DEE2E6;
  }

  h2 {
      font-size: 20px;
  }

  header {
      background-color: #264653;
      color: white;
      text-align: center;
      padding: 5px;
  }
  
  li {
    background-color: #FFE66D;
    list-style: none;
  }

  .list-group-item {
    background-color: #FFE66D;
  }

  .city {
      font-size: 36px;
      font-weight: 500;
  }

  .weathnow {
      margin-bottom: 10px;
  }

  .humidity {
    margin-bottom: 10px;
  }

  .low {
      background-color: teal;
  }

  .med {
    background-color: yellow;
  }

  .med-high {
      background-color: orange;
  }

  .danger {
      background-color: tomato;
  }

  .card {
      margin: 5px;
      background-color: #0077B6;
      padding: 5px;
      width: 20%;
      color: white;
  }

  .cardImg {
      height: 100px;
      width: 100px;
  }

  .card-text {
    font-size: 18px;
}

.card-body {
    padding: 0px;
}

#clear-btn {
    margin-bottom: 10px;
}

  #search-cont {
     margin-top: 10px;
     border-radius: 5px;
    border: 1px solid rgb(101, 99, 99);
    background-color: white;
    padding: 5px;
  }

  #weathericon {
      width: 75px;
      height: 75px;
  }

  #weather-now {
      margin-top: 10px;
      border-radius: 5px;
      padding: 20px;
      border: 1px solid rgb(101, 99, 99);
      background-color: white;
  }

  #forecast5 {
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgb(101, 99, 99);
    background-color: white;
    padding: 5px;
    display: flex;
}